<h1><%= book.name %> Book Detail's</h1>
<ul style="list-style-type:none;">
  <li>Book Title:<%= book.title%></li>
  <li>Author:<%= book.author%></li>
  <li>Rating:<%= book.rating%></li>
  <%book.categories.sort().forEach(ing => { %>
  <li>Book Type:<%= ing.book_type%> <% }) %></li>
  <%book.categories.forEach(gre => { %>
    <li>Genre:<%= gre.genre%> <% }) %></li> 
    <img src= <%=book.img_Url%>>
</ul>
<form action="/books/<%= book._id %>?_method=DELETE" method="POST">
  <a href="/books/<%= book.id %>/edit" class="button js-button" role="button">Edit Book</a>
  <br>
  <button class="button js-button">Delete Book</button>
</form>
<h4>Add Category</h4>
<form action="/books/<%= book.id %>/categories?_method=PUT" method="POST">
  <% categories.forEach(category => { %>
  <input type="checkbox" name="categories" value="<%= category.id %>" />
  <label for="<%= category.book_type%>"><%=category.book_type%></label><br />
  <label for="<%= category.genre%>"><%=category.genre%></label><br />
  <% })%>
  <input type="submit" value="Add Category" />
</form> 

