<h1><%= book.name %> Book Detail's</h1>
<ul style="list-style-type:none;">
  <li>Book Title:<%= book.title%></li>
  <li>Author:<%= book.author%></li>
  <li>Rating:<%= book.rating%></li>
  <%book.categories.sort().forEach(ing => { %>
  <li>Book Type:<%= ing.book_type%> <% }) %></li>
  <%book.categories.forEach(gre => { %>
    <li>Genre:<%= gre.genre%> <% }) %></li> 
    <img src= <%=book.img_Url%>>
</ul>
<form action="/books/<%= book._id %>?_method=DELETE" method="POST">
  <a href="/books/<%= book.id %>/edit" class="button js-button" role="button">Edit Book</a>
  <br>
  <button class="button js-button">Delete Book</button>
</form>


